<h1>{{ text }}</h1>
<input #val type="text" (input)="getName(val.value)" placeholder="UserName"/><br/>
<button (click)="getName('hh')" >Click</button>
<h1 (mouseover)='getName("hello")'>Ng Prime</h1>
<!-- <audio controls autoplay loop >
  <source src="../assets/10445489.mp3"/>
</audio>  -->
<p>{{text}}</p>

<button (click)="counter('sub')">Sub</button>
<p>{{count}}</p>
<button (click)="counter('add')">Add</button>

<input type="text" placeholder="text" disabled={{disable}}/>
<br/><br/>
<input type="text" placeholder="text" [disabled]=disable >

<button (click)="dis()">toggle</button>

<h2>ngIf else </h2><br/>
<p *ngIf="show else elseblock">If Condi..</p>
<ng-template #elseblock>
  <div ngClass="centre">else condi..</div>
</ng-template>
<button (click)="changeIf()">changeIf condi..</button> 

<!-- ............................................. -->

<h1>Else if ladder</h1>
<ng-template [ngIf]="color==='red'">
  <h2 [style.color]="color">{{color}} color</h2>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <h2 [style.color]="color">{{color}} color</h2>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <h2 [style.color]="color">{{color}} color</h2>
</ng-template>
<input type="text" #colortype placeholder="enter color">
<button (click)="changecolor(colortype.value)">click</button>